* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('Img/fundo.png');
    background-size: cover;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: #ffbb3357 5px 5px 10px;
}

nav .infos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav h1 {
    color: #ffbb33;
}

nav img {
    width: 80px;
    height: 80px;
}

nav .butoes {
    margin-top: 15px;
}

nav div a {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding: 15px 30px 15px 30px;
    background-color: #222;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    transition-property: color, background-color;
    transition-duration: 0.3s;
}

nav div a:hover {
    background-color: #ffbb33;
    color: #222;
    font-weight: bold;
    text-decoration: none;
}

.perfil {
    margin: 20px;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.perfil img {
    margin-top: 30px;
    padding-left: 10px;
    width: 90%;
    height: 90%;

}

.perfil p {
    color: #fff;
    width: 500px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardPosts {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
}

.fileira {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imageCards {
    margin: 30px;
    box-sizing: border-box;
    box-shadow: #ffbb3357 0px 13px 27px -5px;
    width: 216px;
    height: 270px;
    transition: transform .5s;
}

.imageCards:hover {
    transform: scale(1.2);
}